* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

p {
  line-height: 1.3em;
}

.App {
  height: 100%;
}
.background-img {
  background-image: url('../../public/background-img-cropped.png');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  padding-top: 1em;
}

.line {
  margin: 2em 0;
  background-color: #1E5359;
  border: 1px solid #1E5359;
  width: 87%;
}

button:hover {
  cursor: pointer;
}

h3 {
  color: #3B758C;
}